# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environments
.venv/
venv/

# Environment Variables
.env

# =========================
# FastAPI / Logs
# =========================
*.log

# =========================
# Database
# =========================
*.db
*.sqlite3

# =========================
# macOS
# =========================
.DS_Store

# =========================
# VSCode / IDE
# =========================
.vscode/
.idea/

# =========================
# Node / Frontend
# =========================
node_modules/
.next/
out/
dist/

# =========================
# Testing / Coverage
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# UV
# =========================
.python-version

# =========================
# ChromaDB / Vector DB
# =========================
chroma_db/

# =========================
# Build Files
# =========================
build/
*.egg-info/

# =========================
# Misc
# =========================
*.swp